<h1> Surgery Information</h1>

<section class="surgery_information">
  <h3><%= @surgery.title.titleize %> | <%= @surgery.week_day.titleize %> | Room: <%= @surgery.operating_room %></h3>
  <% @surgery_doctors.each do |doc| %>
    <section id="doctor-<%= doc.id %>">
      Name: <%= doc.name %><br>
      Years Practicing: <%= doc.experience %> |
      Education: <%= doc.university %><br>
    </section>
    <% end %>
</section>
<br><br><br>
<h3>Add a Doctor:</h3>
<section id="add_doc">
  <%= form_with model: @doctor, method: :get, local: true do |form| %>
    <%= form.label :query, "Search for doctors by name" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>

  <% @search_doc_results.each do |doc| %>
    <%= doc.name %>
    <%= form_with model: @surgery_doctor, url: surgeries_path, method: :post, local: true do |form| %>
      <%= form.hidden_field :surgery_id, value: @surgery.id %>
      <%= form.hidden_field :doctor_id, value: doc.id %>
      <%= form.submit "Add #{doc.name}" %>
    <% end %>
  <% end %>
</section>

<section id="most_experience">
  <h3>Most Experienced Doctor</h3>
  <%= @most_experience_doctor_on_surgery.name %>
  <%= @most_experience_doctor_on_surgery.experience %>
</section>

<section id="least_experience">
  <h3>Least Experienced Doctor</h3>
  <%= @least_experience_doctor_on_surgery.name %>
  <%= @least_experience_doctor_on_surgery.experience %>
</section>
